*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: linear-gradient(
        135deg,
        #0f0f0f,
        #111827,
        #0a0f1f
    );

    color: white;
    min-height: 100vh;
}

/* NAVBAR */

.navbar{
    width: 100%;
    padding: 25px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    backdrop-filter: blur(10px);

    z-index: 1000;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;

    color: #66d9ff;
}

.nav-links{
    display: flex;
    gap: 30px;

    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: white;

    transition: 0.3s ease;
}

.nav-links a:hover{
    color: #66d9ff;
}

/* MAIN CONTAINER */

.container{
    width: 90%;
    max-width: 1200px;

    margin: auto;
    padding-top: 60px;
}

/* HERO SECTION */

.hero{
    text-align: center;
    margin-bottom: 70px;
}

.profile-image{
    width: 170px;
    height: 170px;

    object-fit: cover;

    border-radius: 50%;

    border: 4px solid rgba(255,255,255,0.1);

    box-shadow:
        0 0 40px rgba(102,217,255,0.3);

    margin-bottom: 25px;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero h2{
    font-size: 1.2rem;
    font-weight: 400;

    color: #66d9ff;

    margin-bottom: 25px;
}

.hero p{
    max-width: 700px;
    margin: auto;

    line-height: 1.8;

    color: #cfcfcf;
}

/* DASHBOARD GRID */

.dashboard-grid{
    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

    gap: 30px;

    padding-bottom: 80px;
}

/* CARD */

.card{
    height: 180px;

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    backdrop-filter: blur(12px);

    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 0.35s ease;

    position: relative;
    overflow: hidden;

    text-decoration: none;
    color: white;
}

.card::before{
    content: "";

    position: absolute;

    width: 200px;
    height: 200px;

    background:
    radial-gradient(
        rgba(102,217,255,0.15),
        transparent
    );

    top: -50px;
    right: -50px;
}

.card:hover{
    transform: translateY(-10px);

    border-color: rgba(102,217,255,0.4);

    box-shadow:
        0 15px 40px rgba(102,217,255,0.15);
}

.card h3{
    font-size: 1.3rem;
    z-index: 2;
}

/* RESPONSIVE */
@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .nav-links{
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 12px 30px;
        width: 100%;
    }

    .hero h1{
        font-size: 2.2rem;
    }

    .hero h2{
        font-size: 1rem;
    }

    .container{
        width: 95%;
    }

    .projects-grid,
    .cert-grid,
    .about-container,
    .contact-grid,
    .skills-grid{
        grid-template-columns: 1fr;
    }
}

.skill-section{
    margin-bottom: 70px;
}

.skill-section h2{
    margin-bottom: 25px;
    color: #66d9ff;
    font-size: 2rem;
}

.skills-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;
}

.skill-card{
    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:25px;

    padding:25px;

    backdrop-filter:blur(10px);

    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-8px);

    box-shadow:
    0 10px 30px rgba(102,217,255,0.15);

    border-color:
    rgba(102,217,255,0.4);
}

.skill-card h3{
    margin-bottom:12px;
}

.skill-card p{
    color:#cfcfcf;
    line-height:1.6;
}

/* SKILLS PAGE */

.skill-section{
    margin-bottom: 70px;
}

.skill-section h2{
    color: #66d9ff;
    margin-bottom: 25px;
    font-size: 2rem;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.skill-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:25px;
    padding:25px;
    backdrop-filter:blur(10px);

    transition:0.35s ease;
}

.skill-card:hover{
    transform:translateY(-8px);

    border-color:rgba(102,217,255,0.4);

    box-shadow:
    0 10px 30px rgba(102,217,255,0.15);
}

.skill-icon{
    font-size:3rem;
    margin-bottom:15px;
}

.skill-card h3{
    margin-bottom:10px;
}

.skill-level{
    display:inline-block;

    padding:6px 12px;

    border-radius:20px;

    margin-bottom:15px;

    background:rgba(102,217,255,0.15);

    color:#66d9ff;

    font-size:0.9rem;
}

.skill-card p{
    line-height:1.6;
    color:#cfcfcf;
}

/* PROJECTS PAGE */

.projects-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(340px,1fr));

    gap:30px;
}

.project-card{

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:30px;

    padding:20px;

    backdrop-filter:blur(12px);

    transition:0.35s ease;
}

.project-card:hover{

    transform:translateY(-8px);

    border-color:
    rgba(102,217,255,0.4);

    box-shadow:
    0 15px 40px rgba(102,217,255,0.15);
}

.project-image{

    height:180px;

    border-radius:20px;

    background:
    rgba(255,255,255,0.08);

    display:flex;

    justify-content:center;
    align-items:center;

    margin-bottom:20px;

    color:#999;
}

.project-card h3{

    margin-bottom:12px;
}

.project-card p{

    color:#cfcfcf;

    line-height:1.6;

    margin-bottom:15px;
}

.tech-stack{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:20px;
}

.tech-stack span{

    padding:8px 14px;

    border-radius:20px;

    background:
    rgba(102,217,255,0.15);

    color:#66d9ff;

    font-size:0.85rem;
}

.project-buttons{

    display:flex;

    gap:15px;
}

.project-buttons a{

    flex:1;

    text-align:center;

    padding:12px;

    border-radius:15px;

    text-decoration:none;

    color:white;

    background:
    rgba(255,255,255,0.08);

    transition:0.3s;
}

.project-buttons a:hover{

    background:
    rgba(102,217,255,0.2);
}

/* ABOUT PAGE */

.about-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:30px;
}

.about-card{

    background:
    rgba(255,255,255,0.05);

    border:
    1px solid rgba(255,255,255,0.1);

    border-radius:30px;

    padding:30px;

    backdrop-filter:blur(12px);

    transition:0.35s ease;
}

.about-card:hover{

    transform:translateY(-8px);

    border-color:
    rgba(102,217,255,0.4);

    box-shadow:
    0 15px 40px rgba(102,217,255,0.15);
}

.about-card h2{

    color:#66d9ff;

    margin-bottom:15px;
}

.about-card p{

    line-height:1.8;

    color:#cfcfcf;

    margin-bottom:12px;
}

.about-card ul{

    padding-left:20px;
}

.about-card li{

    margin-bottom:10px;

    color:#cfcfcf;
}

/* CERTIFICATIONS PAGE */

.cert-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:30px;
}

.cert-card{

    background:
    rgba(255,255,255,0.05);

    border:
    1px solid rgba(255,255,255,0.1);

    border-radius:30px;

    padding:20px;

    backdrop-filter:blur(12px);

    transition:0.35s ease;
}

.cert-card:hover{

    transform:translateY(-8px);

    border-color:
    rgba(102,217,255,0.4);

    box-shadow:
    0 15px 40px rgba(102,217,255,0.15);
}

.cert-image{

    height:220px;

    border-radius:20px;

    background:
    rgba(255,255,255,0.08);

    display:flex;

    justify-content:center;
    align-items:center;

    margin-bottom:20px;

    color:#999;
}

.cert-card h3{

    margin-bottom:10px;
}

.cert-card p{

    color:#cfcfcf;

    margin-bottom:20px;
}

.cert-card a{

    display:block;

    text-align:center;

    text-decoration:none;

    color:white;

    padding:12px;

    border-radius:15px;

    background:
    rgba(102,217,255,0.15);

    transition:0.3s;
}

.cert-card a:hover{

    background:
    rgba(102,217,255,0.3);
}


.certificate-img{
    width:100%;
    height:230px;
    object-fit:cover;
    border-radius:20px;
}


/* CONTACT PAGE */

.contact-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}

.contact-card{

    background:
    rgba(255,255,255,0.05);

    border:
    1px solid rgba(255,255,255,0.1);

    border-radius:30px;

    padding:30px;

    text-align:center;

    backdrop-filter:blur(12px);

    transition:0.35s ease;
}

.contact-card:hover{

    transform:translateY(-8px);

    border-color:
    rgba(102,217,255,0.4);

    box-shadow:
    0 15px 40px rgba(102,217,255,0.15);
}

.contact-icon{

    font-size:3rem;

    margin-bottom:20px;
}

.contact-card h3{

    margin-bottom:12px;
}

.contact-card p{

    color:#cfcfcf;

    margin-bottom:20px;

    word-break:break-word;
}

.contact-card a{

    display:inline-block;

    padding:12px 20px;

    border-radius:15px;

    text-decoration:none;

    color:white;

    background:
    rgba(102,217,255,0.15);

    transition:0.3s;
}

.contact-card a:hover{

    background:
    rgba(102,217,255,0.3);
}

/* FOOTER */

.footer{

    margin-top:80px;

    padding:40px 20px;

    text-align:center;

    border-top:
    1px solid rgba(255,255,255,0.1);

    color:#cfcfcf;
}

.footer p{

    margin-bottom:8px;
}

.skill-icon{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:15px;
}

.skill-icon img{
    width:100px;
    height:70px;
    object-fit:contain;
}

